
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: lato;
  background-color: #b0a18e;
}

h1, h2, a, li {
  color: #e6af4b;
  padding: 0;
  margin: 0;
}

span {
  margin-right: 10px;
  color: #729f98;
}

.product_name {
  display: inline-block;
  color: #e6af4b;
  padding: 10px 10px 20px 0;
  margin: 0;
  text-align: left;
  font-size: 1.5em;
}

h3 {
  color: #e05038;
}

h4 {
  text-align: center;
  margin-top: 100px;
 }

a {
  text-decoration: none;
}

a:hover {color: #e05038;}

.box {
  background-color: #334431;
  width: 50%;
  height: 500px;
  margin-top: 110px;
  margin-left: 25%;
  padding-top: 10px;
}

.bigger_box {
  width: 70%;
  height: 600px;
  margin-top: 45px;
  margin-left: 15%;
  padding-top: 5px;
}

form {
  display: inline-block;
  padding: 30px;
  width: 80%;
  margin: 5%;
}

label {
  font-size: 1.1em;
  font-family: lato;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

li {
  font-size: 1.5em;
}

.product_list {
  font-size: 1.3em;
}

.sub-heading {
  color: #729f98;
  display: inline-block;;
  font-size: 1.3em;
  padding-right: 5px;
}

.buttons {
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  margin: 20px 35%;
  width: 30%;
  display: block;
  border: 2.5px solid #b0a18e;
  padding: 3px;
  border-radius: 25px;
}

.buttons:hover {
  color: #e05038;
}

.button_box {
  display: inline-block;
  width: 60%;
  margin-left: 20%;
  margin-top: 50px;
  padding: 20px;
}
.small_buttons {
  display: inline-block;
  font-size: 1.3em;
  padding-right: 5px;
}

.form_buttons {
  display: inline-block;
  font-family: lato;
  font-size: 1em;
}

.error {
  color: red;
  padding-top: 20px;
  margin-left: 60px;
}

#company {
  display: inline;
  padding-right: 5px;
}
