<form action="/signup" method="post">

  <label>Please choose a Username: </label>
  <input type="text" name="username">
  <br><br>

  <label>Please enter your Email Address: </label>
  <input type="email" name="email">
  <br><br>

  <label>Please choose a Password</label>
  <input type="password" name="password">
  <br><br>

  <input type="submit" value="Signup">

</form>
