<% if @user && !@user.errors.empty? %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li class="error"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<% if !Helpers.is_logged_in?(session) %>
<div class="bgcolor">

  <form action="/signup" method="post">

    <label>Please choose a Username: </label>
    <input type="text" name="user[username]">
    <br><br>

    <label>Please enter your Email Address: </label>
    <input type="email" name="user[email]">
    <br><br>

    <label>Please choose a Password: </label>
    <input type="password" name="user[password]">
    <br><br>

    <input type="submit" value="Signup">

  </form>

</div>
<% else %>
  <% redirect to '/' %>
<% end %>
