
<div class="box">

<h2>Your Companies</h2>

<% if Helpers.is_logged_in?(session) %>
  <ul>
    <% Company.all.each do |company| %>
      <% @user = User.find_by(id: session[:id]) %>
      <% if @user.companies.include?(company) %>

        <li id="company"><%= company.name %></li><a href="/companies/<%=company.slug%>/edit"><span>edit</span></a>
        <% company.products.each do |p| %>
          <p class="sub-heading"><%= p.name %></p><a href="/products/<%= p.slug %>">Learn More</a>
        <% end %>
        <br><br>
      <% end %>
    <% end %>
  </ul>
  <div>
    <a class="small_buttons" href="/companies/new">Add Company</a>
    <a class="small_buttons" href="/products/new">Add Products</a>
  </div>
  <a class="buttons" href="/">Home</a>
<% else %>
  <% redirect to '/login' %>
<% end %>

</div>
