<div class="bgcolor">
  <h2>Your Companies</h2>
  <ul>
    <% current_user.companies.each do |company| %>
      <li id="company"><%= company.name %></li><a href="/companies/<%=company.slug%>/edit"><span>edit</span></a>
      <br>
      <% company.products.each do |product| %>
        <p class="sub-heading"><%= product.name %></p><a href="/products/<%= product.slug %>">Learn More</a><br>
      <% end %>
      <br><br>
    <% end %>
  </ul>
  <div>
    <a class="small_buttons" href="/companies/new">Add Company</a>
    <a class="small_buttons" href="/products/new">Add Products</a>
  </div>
  <a class="buttons" href="/">Home</a>
</div>
