<h2>All Your Companies: </h2>

<ul>
  <% Company.all.each do |company| %>
    <li><%= company.name %></li>
    <% company.products.each do |p| %>
      <%= p.name %>
    <% end %>
    <br><br>
  <% end %>
</ul>
