<form action="/companies/<%=@company.slug%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label>Company Name: </label>
  <input type="text" name="user[company][name]" value="<%= @company.name %>">
  <br><br>

  <input type="submit" value="Edit Company">
</form>
