<h2><%= @company.name %></h2>

<ul>
  <% @products.each do |p| %>
    <li><%= p.name %></li>
  <% end %>
</ul>

<form  action="/companies/<%= @company.slug %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Company">
</form>
