<div class="bgcolor">

  <% if !Helpers.is_logged_in?(session)%>
    <h4 id="please_login">Please login to get started </h4>
    <a  href="/login" class="buttons">Login</a>
    <a  href="/signup" class="buttons">Signup</a>

  <% else %>
  <% user = User.find(session[:id]) %>
  <h2>Welcome <%= user.username %></h2>
  <a href="/logout" class="buttons logout">Logout</a>
  <div class="button_box">
      <a href="/companies" class="small_buttons">Companies</a>
      <a href="/products" class="small_buttons">Products</a>
  </div>
  <% end %>

</div>
